* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.logo {
  width: 60px;
  height: 60px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.158);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-100 {
  height: 100%;
}

.active-border {
  border-left: 3px solid rgb(174, 216, 255) !important;
}

.text-normal {
  font-size: 12px;
}


.card-dashboard {
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.158);
  background-color: #fff;
  color: rgba(148, 148, 148, 0.849) !important;
}

.card-dashboard:hover {
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
  background-color: #3459e6;
  cursor: pointer;
  color: white !important;
}

.simple-card {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.158);
  background-color: #fff;
  color: rgba(148, 148, 148, 0.849) !important;
}

.cursor-pointer {
  cursor: pointer;
}